# wiki-nanodesuプロジェクト概要
- 別で運用しているゲームのwikiを補助するWebサイト
- 主にゲームのキャラクターやカードのデータを扱う
  - ゲームの名前は「けものフレンズ３」
  - けものフレンズ３では、キャラクターのことを「フレンズ」、カードのことを「フォト」と呼ぶ
- 大量のデータを扱う場合など、wikiでは運用しにくい部分を代わりに運用
- Next.jsで静的サイトを生成し、GitHub Pagesでホスト

# 技術スタック
- パッケージマネージャー: Bun 1.2.2
- 言語: TypeScript 5.7.3
- フレームワーク:
	- Next.js 15.1.7
		- App Routerを使用
		- `output: "export"` を指定して静的サイトを生成
	- React 19.0.0
	- Tailwind CSS 3.4.1
	- MUI
		- "@mui/material": "^6.4.5"
		- "@mui/icons-material": "^6.4.5"
		- "@emotion/react": "^11.14.0"
		- "@emotion/styled": "^11.14.0"
- リンター: ESLint 9.20.1
- デプロイ先: GitHub Pages
  - GitHub Actionsで自動デプロイ
- テスト
  - テストは`bun test`で実行
- データベース
  - Googleスプレッドシートで管理
  - Google Apps Scriptを用いてCSVファイルを出力
  - 出力したCSVファイルを当gitレポジトリへpush

# コーディングルール
- インデントにはタブを使う
- クォーテーションは必要がない限りシングルクォーテーションを使う
- コメントは日本語で記載
- `localStorage`のキーは`wiki-nanodesu.${page-name}.${key}`のように命名する
- テストコードは`__tests__`フォルダに記載し、拡張子を`*.test.ts`とする
