name: Check code

on:
  push:
    branches: ["main"]
    paths-ignore:
      - "README.md"
      - "LICENSE.md"
      - ".vscode/*"
      - ".cursor/*"
      - ".cursorignore"
      - "gas/*"
  workflow_dispatch:

permissions:
  contents: read

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version-file: ".bun-version"

      - name: Restore cache
        uses: actions/cache@v5
        with:
          path: |
            .next/cache
          key: ${{ runner.os }}-nextjs-${{ hashFiles('**/bun.lock') }}-${{ hashFiles('**.[jt]s', '**.[jt]sx') }}
          restore-keys: |
            ${{ runner.os }}-nextjs-${{ hashFiles('**/bun.lock') }}-

      - name: Install dependencies
        run: bun install --frozen-lockfile

      - name: Run lint
        run: bun --bun run lint

      - name: Run tests
        run: bun --bun test

      - name: Run build
        run: bun --bun run build

      - name: Run E2E tests
        run: bun run test:e2e
